<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ffaikrw.instagram.post.like.dao.LikeDAO">

	<insert id="insertLike" parameterType="map">
	
		insert into `like`
		(
			`postId`
			, `userId`
			, `loginId`
			, `createdAt`
			, `updatedAt`
		)
		value
		(
			#{postId}
			, #{userId}
			, #{loginId}
			, now()
			, now()
		)
	
	</insert>
	
	
	<delete id="deleteLike" parameterType="map">
	
		delete from
			`like`
		where
			`postId` = #{postId}
			and `userId` = #{userId}	
		
	</delete>
	

</mapper>