@charset "UTF-8";

#wrap {
	width: 1200px;
	height: 500px;
	margin: auto;
}


/* header.jsp */

header {
	height: 50px;
}

.header-logo:hover {
	text-decoration: none;
}

.header-loginId:hover {
	text-decoration: none;
}

.logout-modal {
	border-top: 1px solid #dedede;
}


/* timeline.jsp */

.post-section {
	background-color: #f7f7f7;
}

.post-box {
	width: 600px;
}

.post-header {
	height: 60px;
}

.post-header-img {
	font-size: 30px;
	margin-bottom: 10px;
}

.post-header-loginId {
	font-size: 15px;
}

.post-header-loginId:hover {
	text-decoration: none;
}

.more-icon {
	font-size: 20px;
	margin-bottom: 10px;
}

.img-box {
	width: 600px;
}

.content-box {
	font-size: 15px;
}

.content-loginId:hover {
	text-decoration: none;
}

.content {
	white-space: pre-wrap;
}

.like-icon {
	font-size: 25px;
}

.delete-like-icon {
	font-size: 25px;
}

.like-count {
	font-size: 15px;
}

.comment-box {
	font-size: 15px;
}

.upload-time {
	font-size: 12px;
}

.comment-icon {
	font-size: 25px;
}


/* signIn.jsp 및 signUp.jsp */
.join-box {
	width: 400px;
}

.join-box2 {
	border: 1px solid #dedede;
}

.input-box {
	width: 300px;
}


/* create.jsp */

.create-box {
	width: 600px;
	border: 1px solid #dedede;
}

.create-box2 {
	width: 570px;
}

.camera-icon {
	font-size: 30px;
}


/* userProfile.jsp */

.userInfo {
	background-color: #f7f7f7;
	height: 150px;
}

.userInfoImage {
	font-size: 130px;
}

.userLoginId {
	font-size: 30px;
}

.userPostList {
	border-top: 1px solid #dedede;
	padding-top: 25px;
}

.user-post-box {
	position: relative;
	width: 350px;
	height: 350px;
	margin: 25px;
}

.user-post-box img {
	position: absolute;
	top: 0;
	left: 0;
	transform: translate(50, 50);
	width: 100%;
	height: 100%;
	object-fit: cover;
	margin: auto;
}

.post-img-modal {
	width: 798px;
}


.post-content-modal {
	width: 798px;
}



/* footer.jsp */
footer {
	height: 50px;
	color: #999;
}